[submodule "components/lvgl"]
	path = components/lvgl
	url = https://github.com/lvgl/lvgl
[submodule "components/cjson/cjson"]
	path = components/cjson/cjson
	url = https://github.com/DaveGamble/cJSON.git
